<div
  class="bg-bluegray-100 w-12 h-7rem border-round-bottom-2xl position shadow-6 surface-card flex align-items-center justify-content-between"
>
  <div class="align-items-center flex h-full icon">
    <i class="pi pi-shop text-6xl"></i>
  </div>
  <div class="routers w-10rem flex justify-content-around align-items-center">
    <a class="no-underline text-black-alpha-90" routerLink="/">Home</a>
    <a class="no-underline text-black-alpha-90" routerLink="/cart">
      <i class="pi pi-shopping-cart text-2xl" pBadge [value]="badge"></i
    ></a>
  </div>
</div>
